<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hill-Safe | Vertical Refuge Finder</title>
    
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css' rel='stylesheet' />
    
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css" type="text/css">
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.1/mapbox-gl-directions.js"></script>
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.1/mapbox-gl-directions.css" type="text/css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <div class="sidebar">
        <div class="header">
            <h1><i class="fas fa-mountain"></i> Hill-Safe</h1>
            <p>Vertical Refuge Locator</p>
            <div id="user-status" class="status-text">
                <i class="fas fa-satellite-dish"></i> Waiting for GPS...
            </div>
        </div>

        <div class="search-wrapper">
            <div id="geocoder-container"></div>
        </div>

        <div class="building-list" id="building-list">
            <div class="empty-state">
                <i class="fas fa-spinner fa-spin"></i>
                <p>Loading Map...</p>
            </div>
        </div>
    </div>

    <div class="map-wrapper">
        <div id="map"></div>
    </div>
</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>